.sidebar-container{
    position: sticky;
    height: max-content;
    top: 4.5rem;
    align-self: self-start;
    z-index: 100;
    
}

.user-profile{
    display: flex;
    align-items: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    column-gap: 1rem;
    background-color: var(--white);
    overflow: hidden;
    margin-bottom: 0.3rem;
    position: relative;
    overflow-x: none;
}

.sidebar-layer{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    transition: all ease 1s;
}

.sidebar{
    display: flex;
    column-gap: 1rem;
    position: relative;
    padding: 1rem;
    align-items: center;
    cursor:pointer;
    width: 100%;
}

.sidebar:hover{
    background-color: var(--light);
}


.sidebar i{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--gray);
    position: relative;
}

.sidebar i.active{
    color: var(--primary);
}



.sidebar.active{
    background-color: var(--light);
    color: var(--primary);
}

.sidebar.active::before{
   content: "";
   height: 100%;
   width: 0.7rem;
   background-color: var(--primary);
   position: absolute;
   left: 0;
}

.sidebar.active-first::before{
    border-top-left-radius: var(--card-border-radius);
 }

 .sidebar.active-last::before{
    border-bottom-left-radius: var(--card-border-radius);
 }
 
.sidebar.active:hover{
    background-color: var(--light);
}

.notification-pop{
    position: absolute;
    display: none;
    width: 30rem;
    background-color: var(--white);
    top: 9rem;
    left: 110%;
    border-radius: var(--card-border-radius);
    align-items: center;
    padding: var(--card-padding);
    box-shadow: 0 0 0.3rem var(--primary);
}

.notification-pop.active{
    display: block;
}

.notification-pop::before{
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    top: 3.5rem;
    left: -0.4rem;
    background-color:var(--white);
    transform: rotate(45deg);
}

.notification-info{
   display: flex;
   gap: 1rem;
    padding: var(--card-padding);
    align-items: center;
   
}

.notification{
    display: block;
}


.notification div{
    display: flex;
    gap: 0.5rem;
}

.sidebar-container .btn{
    width: 73%;
    margin-top: 0.5rem;
}

.mobile-tiggle-button{
    position: fixed;
    border-radius: 50%;
    font-size: 2rem;
    bottom: 50%;
    right: 5rem;
    display: none;
    box-sizing: border-box;
    transition: all ease 1s;
}

#mobilebtn{
    color: black;
}

.sidebar-layer i #span{
    border-radius: 50%;
    font-size: 0.6rem;
    color: white;
    background-color: red;
    padding: 0.3rem;
    position: absolute;
    top:-0.5rem;
    left:-0.1rem;
    height: 0.5rem;
    width: 0.5rem;
    text-align: center;
}

.span-deactivate{
    display: none;
}


@media screen and (max-width:1200px) {

    .user-profile{
        display: none;
    }

    .sidebar-container .btn{
        display: none;
    }

    .sidebar-layer h3{
        display: none;
    }

    
.sidebar i{
    margin-left:0;
}


.notification-pop{
   top: 1rem;
}


.sidebar.active::before{
    width: 0.3rem;
 }
    
}


@media screen and (max-width:992px) {



.notification-pop::before{
    top: 3.5rem;
    left: 16.5rem;
}

.sidebar-container{
    position: fixed;
    right: 0;

}

.sidebar-layer{
    top:4.5rem
}

.sidebar-layer.activ{
    right: -3rem;
 }




.notification-pop{
    width: 16rem;
    left: -17.5rem;
    font-size: 0.7rem;
    padding: 0.5rem;
    top: 8rem;
}


.notification-info{
    gap: 0.5rem;
    
 }

 
.notification div{
    display: block
}

.notification div b{
    margin-right: 0.5rem;
}


.sidebar i{
    font-size: 1.2rem;
}

.sidebar-layer{
   right: 0;
}

.mobile-tiggle-button{
    display: block;
    bottom: 57%;
    right: -0.7rem;
}


.mobile-tiggle-button.activate{
    right: 3rem;
   
}
}

