.messages-container{
    position: sticky;
    height: max-content;
    top: -20rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1rem;
    align-self:start;
    display: block;
    z-index: 1;
}
.messages{
    background-color: white;
    margin-bottom: 1rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 2rem;
}

.messages-head{
    margin-bottom: 1rem;
}

.messages-head i{
    font-size: 1.3rem;
}

.messages div{
    display: flex;
    justify-content:  space-between;
    padding: 0.4rem 0;
}

.messages div input{
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: 0.7rem 0;
    background-color: var(--light);
    margin-right: 0.5rem;
}

.messages div span{
    margin: 0 20px;
}

.messages-search{
    width: 100%;
    border-radius: var(--card-border-radius);
    background-color: var(--light);
    align-items: center;
}

.messages-search i{
    margin: 0 1rem;
    font-size: 1.3rem;
}

.messages-search i:hover{
    color: black;
}


.message-type{
  position: relative;
}

.message-type p{
    padding: 0.5rem;
    border-bottom: 2px solid var(--light);
    text-align: center;
    cursor: default;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.message-type p.active{
    border-bottom:solid 2px var(--dark);

}

.primary-layer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.primary-comment{
    text-align: left;
    font-size: 1rem ;
    width: 80%;
}


.primary-layer .profile-pics img{
    border-radius: 50%;
}


.request-container{
    background-color: var(--white);
    padding: var(--card-padding);
    align-items: left;
    border-radius: var(--card-border-radius);
    margin: 0.5rem 0;

}

.request-layer{
    margin-top: 1rem;
    display: flex;
    position: relative;
    justify-content: space-between; 
    margin-bottom: 0.7rem;
}

.request-layer:hover{
   cursor: default;
}

.request-layer img{
    width: 100%;
    border-radius: 50%;
}

.request-layer span{
    width: 100%;
    margin-left: 1rem;
    font-size: 1rem ;
}

.request-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-btn .btn:nth-child(2){
   background-color: var(--light);
   color: black;
}

@media screen and (max-width:902px) {
    
.messages-container{
    display: none;
}
}



